{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>WEATHER</title>
</head>


<body bgcolor='pink'>
<center><h2>
{% block content %}
  <form method="post" enctype="multipart/form-data" action='/weather/test'>

    <label for="City">Choose a City:</label>

    <select name="city" id="city">
      <option value="Delhi">Delhi</option>
      <option value="Tamilnadu">Tamilnadu</option>
      <option value="Kerala">Kerala</option>
      <option value="Andhra pradesh">Andhra pradesh</option>
      <option value="Karnataka">Karnataka</option>      
      <option value="Orissa">Orissa</option>
      <option value="Bihar">Bihar</option>
      <option value="Goa">Goa</option>      
      <option value="Madhya pradesh">Madhya pradesh</option>
      <option value="Punjab">Punjab</option>
      <option value="Haryana">Haryana</option>
      <option value="Jammu & Kashmir">Jammu & Kashmir</option>
    </select> <br/><br/>

    <button type="submit">Submit</button>
  </form>


{% endblock %}
</h2></center>
</body>
</html>

